[submodule "dep/std"]
	path = dep/std
	url = https://github.com/briar-systems/mach-std
[submodule "dep/crypto"]
	path = dep/crypto
	url = https://github.com/briar-systems/mach-crypto
[submodule "dep/http"]
	path = dep/http
	url = https://github.com/briar-systems/mach-http
[submodule "dep/tls"]
	path = dep/tls
	url = https://github.com/briar-systems/mach-tls
[submodule "dep/quic"]
	path = dep/quic
	url = https://github.com/briar-systems/mach-quic
[submodule "dep/acme"]
	path = dep/acme
	url = https://github.com/briar-systems/mach-acme
[submodule "dep/laurel"]
	path = dep/laurel
	url = https://github.com/briar-systems/laurel
[submodule "test/acme/dep/std"]
	path = test/acme/dep/std
	url = https://github.com/briar-systems/mach-std
[submodule "test/acme/dep/crypto"]
	path = test/acme/dep/crypto
	url = https://github.com/briar-systems/mach-crypto
[submodule "test/acme/dep/http"]
	path = test/acme/dep/http
	url = https://github.com/briar-systems/mach-http
[submodule "test/acme/dep/quic"]
	path = test/acme/dep/quic
	url = https://github.com/briar-systems/mach-quic
[submodule "test/acme/dep/tls"]
	path = test/acme/dep/tls
	url = https://github.com/briar-systems/mach-tls
[submodule "test/acme/dep/acme"]
	path = test/acme/dep/acme
	url = https://github.com/briar-systems/mach-acme
[submodule "test/acme/dep/laurel"]
	path = test/acme/dep/laurel
	url = https://github.com/briar-systems/laurel
